#balances-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#balances-table thead tr {
    background-color: #673ab7;
    color: #ffffff;
    text-align: left;
}

#balances-table th,
#balances-table td {
    padding: 12px 15px;
}
