<div style="padding-left: 6em;">
    <h2>Account Balances</h2>
    <table id="balances-table">
        <th *ngFor="let accBalance of balances">{{accBalance.account}}</th>
        <tr>
            <td *ngFor="let accBalance of balances">{{accBalance.balance}}</td>
        </tr>
        
    </table>
</div>

<div style="padding-left: 6em;">
    <mat-spinner *ngIf="accounts.length === 0"></mat-spinner>

    <mat-card *ngFor="let account of accounts" style="margin-top: 11px;">
        <mat-card-header>
            <mat-card-title>{{account.accName}}</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
            <button mat-button>View Balances</button>
        </mat-card-actions>
    </mat-card>

</div>