<div id="main-div" >
    <h2 id="headertext">Upload File</h2>
    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder={{datePlaceHolder}} />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="multi-year" (yearSelected)="onYearSelection($event)"
            (monthSelected)="onMonthSelection($event, picker)"></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
        <div>
            <mat-toolbar>
                <input matInput [(ngModel)]="fileAttr" readonly name="name" />
                <button mat-flat-button color="primary">Browse</button>
            </mat-toolbar>

            <input type="file" #fileInput id="uploadFile" (change)="uploadFileEvt($event)" name="uploadFile"
                accept=".xlsx, .xls, .csv" />
        </div>

    </mat-form-field>
</div>