.mat-form-field {
    margin: 40px 0;
    width: 500px !important;
}

.mat-toolbar-single-row {
    height: auto !important;
    background: transparent;
}

.mat-toolbar-single-row button {
    width: 200px;
}

.input {
    padding: 1em;
    margin-left: 2em;
}

#main-div {
    display: flex;
    flex-direction: column;
    padding: 6em;
}

#uploadFile {
    top: 0px;
    left: 0px;
    width: 100%;    
    z-index: 9;
    opacity: 0;
    height: 100%;
    cursor: pointer;
    position: absolute;
}

#headertext {
    padding: 20px;
}